*{
    font-family: 'Open Sans', sans-serif;
}
nav{
    background-image: url("images/Banner\ Image.png");
    background-position: center;
    width: 1320px;
    height: 600px;
}
nav > h1{
    color: #FFF;
    text-align: center;
    color: #FFF;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}
nav{
    margin-left: 300px;
}
main > h1 {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
main>p{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
main>h2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.centerimg{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}